<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>js test</title>
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.1.js"></script>
</head>
<body>
    <p>Peer ID: <span id="peer-id">{{call_peer_id}}</span></p>
    <p>Target Peer ID: <span id="target-id">{{answer_peer_id}}</span></p>
    <button id="call">発信</button>
    <audio id="their-audio"></audio>
    <script type="text/javascript">
        const myPeerId = "{{call_peer_id}}";
        const targetPeerId = "{{answer_peer_id}}";
        const token = "{{token}}";
    </script>
    <script src="/src/call.js"></script>
</body>
</html>
